body{
    color: #333;;
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#container h1 {
    font-size: 20px;
}

.cabecera{
    margin-left: 500px;
    width: 40%;
    background-color: coral;
}
.cabecera span{
    padding-left: 50px;
    font-size: 12px;
    background-color: aquamarine;

}